<?xml version='1.0'?>
<robot name="revo2_right_hand" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="revo2_right_hand" params="">
    <link name="right_hand_base_link">
      <inertial>
        <origin xyz="-0.004990903997332514 -0.0032037440312034332 0.044050778456158846" rpy="0 0 0" />
        <mass value="0.23799999999999999" />
        <inertia ixx="0.0002124306908330478" ixy="2.1636756939780418e-06" ixz="3.6150282476209766e-06" iyy="0.00016013296706155058" iyz="-1.2235521367601028e-05" izz="7.7421962851898041e-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_base_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_base_visual_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_base_link.STL" />
        </geometry>
      </collision>
    </link>

    <link name="right_thumb_metacarpal_link">
      <inertial>
        <origin xyz="5.2458020456317336e-05 0.0064128823181311681 -0.0038998195538025612" rpy="0 0 0" />
        <mass value="0.01" />
        <inertia ixx="1.0391225980670801e-06" ixy="-2.686608698988398e-08" ixz="3.1967028003029185e-09" iyy="9.9133972745252941e-07" iyz="-8.0682999171815212e-08" izz="3.2285483847306921e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_metacarpal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_metacarpal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_thumb_metacarpal_joint" type="revolute">
      <origin xyz="0.005619 0.019867 0.027825" rpy="0 0 -0.16787" />
      <parent link="right_hand_base_link" />
      <child link="right_thumb_metacarpal_link" />
      <axis xyz="0 0 -1" />
      <limit lower="0" upper="1.57" effort="0.5" velocity="2.6175" />
    </joint>

    <link name="right_thumb_proximal_link">
      <inertial>
        <origin xyz="-8.8976221451061982e-07 0.027909287394738479 -0.0021694010930280367" rpy="0 0 0" />
        <mass value="0.050000000000000003" />
        <inertia ixx="1.104123680739091e-05" ixy="0" ixz="0" iyy="1.7788117951772212e-06" iyz="2.7554239260883434e-08" izz="1.1565286467741584e-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_proximal_visual_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_proximal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_thumb_proximal_joint" type="revolute">
      <origin xyz="0 0.014227 0" rpy="0.17488 0.23736 0.16787" />
      <parent link="right_thumb_metacarpal_link" />
      <child link="right_thumb_proximal_link" />
      <axis xyz="1 0 0" />
      <limit lower="0" upper="1.03" effort="1.1" velocity="2.5303" />
    </joint>

    <link name="right_thumb_distal_link">
      <inertial>
        <origin xyz="1.4965529033365585e-05 0.0092285213242344049 -0.0022560307869527903" rpy="0 0 0" />
        <mass value="0.01" />
        <inertia ixx="4.533196792755254e-07" ixy="0" ixz="0" iyy="2.6015654118185334e-07" iyz="1.1609788284952737e-08" izz="5.1978354121297457e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_distal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_distal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_thumb_distal_joint" type="revolute">
      <origin xyz="0 0.052 0" rpy="0 0 0" />
      <parent link="right_thumb_proximal_link" />
      <child link="right_thumb_distal_link" />
      <axis xyz="1 0 0" />
      <limit lower="0" upper="1.03" effort="1.1" velocity="2.5303" />
      <mimic joint="right_thumb_proximal_joint" multiplier="1" offset="0" />
    </joint>

    <link name="right_thumb_tip_link" />
    <joint name="right_thumb_tip_joint" type="fixed">
      <origin xyz="0 0.0265287811635831 -0.00177344281307929" rpy="-0.0667504507189062 0 0" />
      <parent link="right_thumb_distal_link" />
      <child link="right_thumb_tip_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_thumb_touch_link">
      <inertial>
        <origin xyz="5.6813574638317635e-08 0.00098883010262015912 -0.005830397007602595" rpy="0 0 0" />
        <mass value="0.002" />
        <inertia ixx="6.9328304217138168e-08" ixy="0" ixz="0" iyy="5.8128553580518415e-08" iyz="8.374835965466018e-09" izz="1.0158078425950607e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_touch_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_thumb_touch_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_thumb_touch_joint" type="fixed">
      <origin xyz="0 0.0137927522748974 0.00767659940411662" rpy="-0.0667504507189062 0 0" />
      <parent link="right_thumb_distal_link" />
      <child link="right_thumb_touch_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_index_proximal_link">
      <inertial>
        <origin xyz="-0.0021097272761044172 7.6306416407769004e-07 0.01743348206585104" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="8.0730313716784787e-07" ixy="0" ixz="-1.848299774099326e-08" iyy="7.6522456398412412e-07" iyz="0" izz="2.7130639796167395e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_proximal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_proximal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_index_proximal_joint" type="revolute">
      <origin xyz="-0.0021181 0.029568 0.080876" rpy="-0.11819 0.14743 -0.17422" />
      <parent link="right_hand_base_link" />
      <child link="right_index_proximal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.41" effort="2" velocity="2.2685" />
    </joint>

    <link name="right_index_distal_link">
      <inertial>
        <origin xyz="0.0034973237026168936 -2.4397073674875195e-08 0.014024109720633237" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="9.5735623721861486e-07" ixy="0" ixz="-2.9241583816658407e-07" iyy="1.0538246961086644e-06" iyz="0" izz="2.42079607880269e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_distal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_distal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_index_distal_joint" type="revolute">
      <origin xyz="0 0 0.032" rpy="0 0 0" />
      <parent link="right_index_proximal_link" />
      <child link="right_index_distal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.63" effort="2" velocity="2.2685" />
      <mimic joint="right_index_proximal_joint" multiplier="1.155" offset="0" />
    </joint>

    <link name="right_index_tip_link" />
    <joint name="right_index_tip_joint" type="fixed">
      <origin xyz="0.011097 0 0.035739" rpy="0 0.4756 0" />
      <parent link="right_index_distal_link" />
      <child link="right_index_tip_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_index_touch_link">
      <inertial>
        <origin xyz="-0.0030756425122115622 0.0025978485335546638 -0.00037591028031885978" rpy="0 0 0" />
        <mass value="0.002" />
        <inertia ixx="3.6524673994293294e-08" ixy="8.5175534114718623e-09" ixz="0" iyy="1.7473827933116035e-08" iyz="0" izz="2.9538435400132262e-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_touch_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_index_touch_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_index_touch_joint" type="fixed">
      <origin xyz="0.014497 0 0.023303" rpy="1.7145 0.4756 0" />
      <parent link="right_index_distal_link" />
      <child link="right_index_touch_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_middle_proximal_link">
      <inertial>
        <origin xyz="-0.0021465008816623902 7.0198977972219691e-07 0.020085720078992036" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="9.9491303633046107e-07" ixy="0" ixz="-2.4754791568584298e-08" iyy="9.6311492131951794e-07" iyz="0" izz="2.7511378046084461e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_proximal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_proximal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_middle_proximal_joint" type="revolute">
      <origin xyz="-0.0045767 0.010051 0.084993" rpy="-0.039468 0.1483 -0.057975" />
      <parent link="right_hand_base_link" />
      <child link="right_middle_proximal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.41" effort="2" velocity="2.2685" />
    </joint>

    <link name="right_middle_distal_link">
      <inertial>
        <origin xyz="0.0041837929560845618 -2.4434499929700306e-07 0.016319389628929492" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="1.1798753837899665e-06" ixy="0" ixz="-3.6506311352307707e-07" iyy="1.3027657805093205e-06" iyz="0" izz="2.74608919409821e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_distal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_distal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_middle_distal_joint" type="revolute">
      <origin xyz="0 0 0.037" rpy="0 0 0" />
      <parent link="right_middle_proximal_link" />
      <child link="right_middle_distal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.63" effort="2" velocity="2.2685" />
      <mimic joint="right_middle_proximal_joint" multiplier="1.155" offset="0" />
    </joint>

    <link name="right_middle_tip_link" />
    <joint name="right_middle_tip_joint" type="fixed">
      <origin xyz="0.012558 0 0.040442" rpy="0 0.4756 0" />
      <parent link="right_middle_distal_link" />
      <child link="right_middle_tip_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_middle_touch_link">
      <inertial>
        <origin xyz="-0.00322648744586361 -1.6462838133423407e-08 0.003019915690530168" rpy="0 0 0" />
        <mass value="0.002" />
        <inertia ixx="4.3751562145816199e-08" ixy="0" ixz="1.0061853585855406e-08" iyy="3.6155257979078231e-08" iyz="0" izz="1.9203682382619578e-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_touch_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_middle_touch_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_middle_touch_joint" type="fixed">
      <origin xyz="0.015975871997898 0 0.0265894268903603" rpy="0 0.475602221168456 0" />
      <parent link="right_middle_distal_link" />
      <child link="right_middle_touch_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_ring_proximal_link">
      <inertial>
        <origin xyz="-0.0022400419451280916 -3.1642021509100015e-07 0.018974768492582277" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="9.2192274611012312e-07" ixy="0" ixz="-2.1434689277025735e-08" iyy="8.7978062842405091e-07" iyz="0" izz="2.6982721614770708e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_proximal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_proximal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_ring_proximal_joint" type="revolute">
      <origin xyz="-0.0046709 -0.010037 0.083982" rpy="0.039462 0.14721 0.057932" />
      <parent link="right_hand_base_link" />
      <child link="right_ring_proximal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.41" effort="2" velocity="2.2685" />
    </joint>

    <link name="right_ring_distal_link">
      <inertial>
        <origin xyz="0.0040015207242677124 -8.8623994317685101e-09 0.015850785477788721" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="1.1288595625756626e-06" ixy="0" ixz="-3.5169780079057451e-07" iyy="1.2460980805338906e-06" iyz="0" izz="2.6695244589650716e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_distal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_distal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_ring_distal_joint" type="revolute">
      <origin xyz="0 0 0.035" rpy="0 0 0" />
      <parent link="right_ring_proximal_link" />
      <child link="right_ring_distal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.63" effort="2" velocity="2.2685" />
      <mimic joint="right_ring_proximal_joint" multiplier="1.155" offset="0" />
    </joint>

    <link name="right_ring_tip_link" />
    <joint name="right_ring_tip_joint" type="fixed">
      <origin xyz="0.012266 0 0.039501" rpy="0 0.4756 0" />
      <parent link="right_ring_distal_link" />
      <child link="right_ring_tip_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_ring_touch_link">
      <inertial>
        <origin xyz="-0.0030536856753133582 -2.2426892399133907e-08 0.0030774156138667829" rpy="0 0 0" />
        <mass value="0.002" />
        <inertia ixx="4.0792303960880825e-08" ixy="0" ixz="9.3093997541088973e-09" iyy="3.3284943664080675e-08" iyz="0" izz="1.799009099498985e-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_touch_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_ring_touch_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_ring_touch_joint" type="fixed">
      <origin xyz="0.0154392324697935 0 0.0260561041381566" rpy="0 0.475602221168648 0" />
      <parent link="right_ring_distal_link" />
      <child link="right_ring_touch_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_pinky_proximal_link">
      <inertial>
        <origin xyz="-0.001975334662528235 -2.9023458616399922e-07 0.015823987731302468" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="7.0777766209880607e-07" ixy="0" ixz="-1.3707570348896025e-08" iyy="6.6113592506802425e-07" iyz="0" izz="2.7014080371543559e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_proximal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_proximal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_pinky_proximal_joint" type="revolute">
      <origin xyz="-0.0023566 -0.029366 0.078694" rpy="0.11815 0.14491 0.17392" />
      <parent link="right_hand_base_link" />
      <child link="right_pinky_proximal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.41" effort="2" velocity="2.2685" />
    </joint>

    <link name="right_pinky_distal_link">
      <inertial>
        <origin xyz="0.0032566529441424874 -3.0043695826476274e-07 0.012848383340721354" rpy="0 0 0" />
        <mass value="0.0089999999999999993" />
        <inertia ixx="8.4398585277410544e-07" ixy="0" ixz="-2.5703935799039044e-07" iyy="9.2771658916401349e-07" iyz="0" izz="2.2973189795614046e-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_distal_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_distal_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_pinky_distal_joint" type="revolute">
      <origin xyz="0 0 0.029" rpy="0 0 0" />
      <parent link="right_pinky_proximal_link" />
      <child link="right_pinky_distal_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.63" effort="2" velocity="2.2685" />
      <mimic joint="right_pinky_proximal_joint" multiplier="1.155" offset="0" />
    </joint>

    <link name="right_pinky_tip_link" />
    <joint name="right_pinky_tip_joint" type="fixed">
      <origin xyz="0.010221 0 0.032918" rpy="0 0.4756 0" />
      <parent link="right_pinky_distal_link" />
      <child link="right_pinky_tip_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="right_pinky_touch_link">
      <inertial>
        <origin xyz="-0.0028960060613945678 1.3392487741221686e-08 0.0016531329144734779" rpy="0 0 0" />
        <mass value="0.002" />
        <inertia ixx="3.6971683917529048e-08" ixy="0" ixz="7.6565029947266085e-09" iyy="2.859011067413845e-08" iyz="0" izz="1.7539244747520166e-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_touch_link.STL" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://revo2_description/meshes/revo2_right_hand/right_pinky_touch_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="right_pinky_touch_joint" type="fixed">
      <origin xyz="0.01401 0 0.021124" rpy="0 0.4756 0" />
      <parent link="right_pinky_distal_link" />
      <child link="right_pinky_touch_link" />
      <axis xyz="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
